{{- if eq .chezmoi.hostname "ALT03642" -}}
# Personal GitHub
Host personalgit
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes

Host github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_wayfair_github_com

{{- end }}

Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
