[user]
name = "Aleksander Sumowski"
{{- if eq .chezmoi.hostname "ALT03642" -}}
email = "asumowski@wayfair.com"
{{- else }}
email = "github@sumowski.pl"
{{- end}}

[merge-tools.diffconflicts]
program = "nvim"
merge-args = ["-c", "JJDiffConflicts!", "$output", "$base", "$left", "$right"]
merge-tool-edits-conflict-markers = true

[ui]
default-command = "log"
pager = "delta"
diff-formatter = ":git"

[aliases]
fetch = ["git", "fetch"]
